@model IEnumerable<E_Commerce.Models.Color_Options>
@{
    ViewBag.Title = "Maintain Color Options";
}
<h2>Maintain Color Options</h2>

<div class="col-md-offset-4">
    @using (Html.BeginForm("Index", "Color_Options", FormMethod.Get))
    {
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</div>
<p class="btn btn-success col-md-offset-0 ">
    @Html.ActionLink("Add", "Create",null,new {Style = "color:White" })
</p>
<table class="table table-bordered table-condensed table-hover">
    <tr class="info">

        <th>
            @Html.DisplayNameFor(model => model.color_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.model)
        </th>
       <th></th>
    </tr>

    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    No Match any Document
                </td>

            </tr>

        }

    </tbody>



    @foreach (var item in Model)
    {
        <tr class="active">

            <td>
                @Html.DisplayFor(modelItem => item.color_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.model)
            </td>
            <td class="btn btn-success col-md-offset-0 pull-left col-md-2">
                @Html.ActionLink("Edit", "Edit", new { id = item.color_OptionsId })
            <td class="btn btn-warning col-md-offset-1 pull-left  col-md-2">
                @Html.ActionLink("Details", "Details", new { id = item.color_OptionsId })
            <td class="btn btn-danger col-md-offset-1 pull-left  col-md-2 ">
                @Html.ActionLink("Delete", "Delete", new { id = item.color_OptionsId })
            </td>
        </tr>
    }

</table>
