@model E_Commerce.Models.Supply

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Supply</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.supplyname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplyname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p class="col-md-offset-2 col-md-10">
    @Html.ActionLink("Edit", "Edit", new { id = Model.suppyId })
</p>
<p>
    @Html.ActionLink("Back", "Index")
</p>